*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --purple: #8874eb;
  --white: #FFFFFF;
}

body, html{
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 375px){
  span{
    font-size: 0.9em;
  }
  p{
    font-size: 0.8em;
  }
}