@media (max-width: 375px){
  .boxDesktop{
    display: none;
  }

  .imgBackground::after{
    display: none;
  }

  .womanDesktop{
    display: none;

  }
  
  .womanMobile{
    display: flex;
  }
  

  .questions{
    flex-flow: column;
    max-width: 90%;
    max-height: 70%;
  }
    
 
}

.questionBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--purple);
  
  

  .boxDesktop{
   position: absolute;
   top: 46%;
   left: 13%;
   z-index: 2;
  }

  .questions{
    display: flex;
    width: 1150px;
    height: 650px;
    border-radius: 36px;
    background-color: var(--white);
    position: relative;
    overflow: hidden;

    .imgBackground{
      display: flex;
      flex: 1;
      .womanDesktop{
        position: absolute;
        left: -3%;
        bottom: 22%;
        z-index: 1;
        transform: scale(1.3);
      }
      .womanMobile{
        display: none;
      }
      .shadowMobile{
        display: none;
      }
      
     
    }

    
    .imgBackground::after{
      content: url("/bg-pattern-desktop.svg");
      
      position: absolute;
      bottom: -7%;
      right: 68%;
      transform: scale(1.3);
      
      
      
      
    }
  }
  
  
}

